metadata.broker.list=tdh-24:9092
zookeeper.connect.list=tdh-24:2181
serializer.class=org.apache.kafka.common.serialization.StringSerializer
key.serializer.class=org.apache.kafka.common.serialization.StringSerializer
topic.name=wtest
send.interval=0
batch.size=102400
acks=0
send.num=1000000000
file.folders=/home/wan/works/flume/data
thread.num=1
partitioner.class=test.FairPartitioner
generator.class=test.RandomGenerator
partitioner.column=0
